name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
        # will assign a random free host port
        - 5432/tcp
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Install diesel
      run: cargo install diesel_cli --no-default-features --features postgres
    - name: Run migrations
      run: diesel migration run
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres
    - name: Run tests
      run: cargo test --verbose
      env:
        SERVER.HOST: 0.0.0.0
        SERVER.PORT: 8080
        PG.USER: postgres
        PG.PASSWORD: postgres
        PG.HOST: localhost
        PG.PORT: ${{ job.services.postgres.ports[5432] }}
        PG.DBNAME: postgres
        PG.POOL.MAX_SIZE: 30